.carousel-item{
    padding-top: 130px;
}



/* sam pham hot */


.h2 {
    font-size: 1.8rem;
}



.title-container p {
    margin: 0;
    padding: 0 10px;
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.css-p p {
    text-align: center;
    font-size: 1rem;
    color: black;
}

h2 {
    text-align: center;
    font-size: 1.6rem;
    color: #2c2e53;
    text-transform: uppercase;
    font-family: Gotham-Ultra;
    position: relative;
    margin-bottom: 2.6rem;
    transition: all ease 0.5s;
}


h2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    height: 0.5rem;
    background-color: #bd945f;
}

h2:hover {
    letter-spacing: 0.3em;
    cursor: pointer;
}

.product-title {
    font-size: 1rem;
    font-family: Gotham-Ultra;
    text-transform: uppercase;
    margin: 0.6rem auto 0.3rem;
    text-align: center;
    color: #2c2e53;
}

.product-size {
    font-size: .75rem;
    margin: 0.3rem auto;
    text-align: center;
}

.product-size .value {
    text-decoration: line-through;
}

.product-price {
    font-size: .75rem;
    margin: 0.3rem auto;
    text-align: center;
    margin: 0.3rem auto;
    text-align: center;
}

.product-price .colorr {
    color: red;
    font-size: 1rem;
}

.product-price .or {
    font-size: 1rem;
}

.icon-star {
    display: flex;
    justify-content: center;
}

.icon-star span,
.icon-star .fa-star {
    font-size: 0.75rem;
    color: #bd945f;
}

.list-product {
    position: relative;
}

.list-product .slick-arrow {
    position: absolute;
    top: 30%;
    color: #a00000;
}

.slick-prev .slick-disabled:before {
    opacity: 30;
}

.slick-next .slick-disabled:before {
    opacity: 30;
}

.slick-prev:before {
    color: #bd945f !important;
}

.slick-next:before {
    color: #bd945f !important;
}


.slick-slider .slick-track {
    margin-bottom: 3rem;
}

.box-product>div {
    width: 90% !important;
}

.box-product>div {
    margin: auto;
}

.container .list-product {
    width: 100%;
}

.container-x {
    margin: 0 1rem;
}

.box-product .imgs {
    overflow: hidden;
    border-radius: 15px;
}

.hover-img {
    box-shadow: 5px 5px 25px #00000026;
    padding: 15px 10px;
    border-radius: 15px;
    height: 450px;
    position: relative;
}

.box-sale {
    background-color: #ff6600;
    position: absolute;
    top: 2rem;
    left: 17.3rem;
    width: 26%;
    border-radius: 10px;
    text-align: end;
}

.box-sale p {
    margin: 0;
    text-align: end;
    color: #fff;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 600;
}

.box-sale span {
    color: #fff;
    padding: 0 10px;
    font-size: .75rem;
}

.box-tour {
    position: absolute;
    bottom: -1rem;
    left: 9.5rem;

}

.box-tour button {
    background-color: #e87b07;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
}

.box-product img {
    width: 100%;
    transition: all ease 0.5s;
    border-radius: 15px;
}

.box-product .imgs:hover img {
    transform: scale(1.3);
}
/*  */
.box-p p{
  font-size: 2rem; 
  font-weight: 700; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding-top: 20px;

}