*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-banner img {
    filter: brightness(1) invert(0);
    width: 10%;

}
.boder{
    padding: 20px 0;
    margin-top: -150px;
}
.box-banner {
    text-align: center;
    padding-top: 2.2rem;
}
.header {
    background-color: hsl(207, 74%, 58%);
    color: white;
    text-align: center;
    padding-top: 250px;
  
}

.header h1 {
    margin-bottom: 10px;
}

.contact-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-info {
    flex: 1;
    min-width: 300px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #fffffffb;
}

.contact-info h2 {
    margin-bottom: 15px;
    color: #ff6600;
}

.contact-info a {
    text-decoration: none;
    color: #ff6600;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form {
    flex: 2;
    min-width: 300px;
    border-radius: 8px;
}

.contact-form h2 {
    margin-bottom: 15px;
    color: #ff6600;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-submit {
    display: inline-block;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #e65c00;
}
footer{
    margin-top: 17rem;
}

